//
// Product Page Style
//

.node-type-products-display {
	h1 {
		display: none;
	}
}

.node-products-display .group-right {
	border-left: 1px dashed #88686C;
	text-align: left;

	.name-product {
		@include font-size(30);
		margin: 10px 0;
	}

	h3 {
		@include font-size(18);
		span {
			@include font-size(24);
		}
	}

	@media (min-width: 720px) {
		padding-left: 30px;
	}
}

.title-product,
.field-type-text-with-summary .field-label,
#block-views-related-products-block h2,
.comment-wrapper .title {
	@include font-size(24);
	border-top: 1px dashed #88686C;
	margin: 25px 0;
	padding: 20px 10px;
	text-align: left;
	text-align: left;
	width: 100%;
	font-family: $title-san-serif;
	font-weight: normal;
	color: $text-san-serif-color;

	&:before {
		content: url("../img/heart-brown.png");
		display: inline-block;
		transform: rotate(-31deg);
	}

	@media (min-width: 720px) {
		padding: 20px 0;
	}
}

.page-taxonomy .title {
	margin: 30px;
	text-align: left;
	text-transform: uppercase;

	&:before,
	&:after {
		content: url("../img/heart-brown.png");
		display: inline-block;
	}

	&:before {
		margin-right: 15px;
		transform: rotate(-31deg);
	}

	&:after {
		margin-left: 15px;
		transform: rotate(31deg);
	}

	@media (min-width: 1200px) {
		margin: 30px 0;
	}
}

.comment-wrapper .view-mode-full {
	border-bottom: 1px dashed #FACAD0;
	margin-bottom: 40px;
	padding: 19px 0;
}
