//
// Main Page Preview Products Style
//
.preview-products {
	overflow: hidden;
}

.preview-product-item {
	color: #88686C;
	font-family: $text-serif;
	margin-bottom: 2%;
	text-align: center;

	h2,
	.field-name-field-prices {
		@include font-size(18);
		margin: 4px;
	}

	.field-type-image {
		max-height: 360px;
		overflow: hidden;
	}
}
