//
// Product Page Style
//

.rating-product li{
	margin: 10px 0;
}

.node-products-display .group-right {
	border-left: 1px dashed #88686C;
	text-align: left;

	h1 {
		display: none;
	}

	.name-product {
		@include font-size(30);
		margin: 10px 0;
	}

	h3 {
		@include font-size(18);
		span {
			@include font-size(24);
		}
	}

	@media (min-width: 720px) {
		padding-left: 30px;
	}
}

.title-product, .field-label,
.group-footer h2 {
	@include font-size(24);
	border-top: 1px dashed #88686C;
	margin: 25px 0;
	padding: 20px 10px;
	text-align: left;

	&:before {
		content: url("../img/heart-brown.png");
		display: inline-block;
		transform: rotate(-31deg);
	}

	@media (min-width: 720px) {
		padding: 20px 0;
	}
}

.page-taxonomy .title {
	margin: 30px;
	text-align: left;
	text-transform: uppercase;

	&:before,
	&:after {
		content: url("../img/heart-brown.png");
		display: inline-block;
	}

	&:before {
		margin-right: 15px;
		transform: rotate(-31deg);
	}

	&:after {
		margin-left: 15px;
		transform: rotate(31deg);
	}

	@media (min-width: 1200px) {
		margin: 30px 0;
	}
}

.review-user {
	@include font-size(18);
	@include span-columns(3);
	font-family: $title-san-serif;
	text-align: center;
}

.review-content {
	@include omega();
	@include span-columns(9);
	text-align: left;
}

.review-section .review-product {
	border-bottom: 1px dashed #FACAD0;
	margin-bottom: 40px;
	padding: 19px 0;
}
