/*
 * Rules for base elements
 */

html {
	font-size: 62.5%;
}

body {
	margin: 0;
	@media (min-width: 1200px) {
		background-image: url(../img/back-pattern.png);
		padding-bottom: 5%;
	}
}

img {
	height: auto;
	width: 100%;
}

p, li {
	@include font-size(14);
	color: $text-serif-color;
	font-family: $text-serif;
	line-height: 1.5;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: $text-san-serif-color;
	text-decoration: none;
}

a:hover {
	color: #A2C3C0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font-size(24);
	color: $text-san-serif-color;
	font-family: $title-san-serif;
	font-weight: normal;
	margin: 0;
}

footer {
	text-align: center;
}

label {
	display: none;
}

button {
	border: 0;
	display: inline-block;
}

span {
	@include font-size(18);
	color: #88686C;
	font-family: $title-san-serif;
}


// Tablas
table {
	@include font-size(14);
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	padding: 0.5em;
}

/*
 * Style for pagination
*/

.pagination {
	color: #88686C;
	margin: 3% 0 8%;
	text-align: center;
}


/*
 * Rules for base drupal elements
 */

.element-invisible {
	@extend %hidden;
}

// Tabs
.tabs {
	border-bottom: 1px solid #ccc;
	margin: 10px 0;
	overflow: hidden;
	padding: 0;
	li {
		float: left;
		list-style-type: none;
	}
	a {
		@include font-size(14);
		color: #333;
		padding-right: 20px;
		&.active {
			color: #000;
			font-weight: 600;
		}
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}

.node-readmore a,
.comment-add a {
	display: none;
}

/*
 * Rules for Slider Home Page Controls
 */

.flex-direction-nav a {
	height: 54px;
}
