//
// General layout rules
//

.main-content,
.header,
.view-categories-list {
	background: $content-background;
	margin: 0 auto;
	max-width: $max-width;
	width: 100%;
	overflow: hidden;

	@media (min-width: $max-width) {
		padding: 0 2%;
	}
}

.above-content {
	background: $content-background;
	margin: 0 auto;
	max-width: $max-width;
	overflow: hidden;
}

.main{
	@include outer-container;
}

.view-mode-full .group-left,
.view-mode-full .group-right {
	@include span-columns(12);

	@include media($desktop) {
		@include span-columns(6)
	}
}

.preview-product-item {
	@include span-columns(6);
	@include omega(2n);

	@include media($desktop) {
		@include omega-reset(2n);
		@include span-columns(4);
		@include omega(3n);
	}
}
