.sprite{
	background: url('../img/sprite.png') no-repeat;
	display: inline-block;
	height: 32px;
	overflow: hidden;
	text-indent: -9999px;
	width: 36px;
}

.cart {
	background-position: -0px -1px;
	margin-right: 20px;

	&:hover {
		background-position: -36px -0px;
	}
}

.facebook {
	background-position: -0px -36px;

	&:hover {
		background-position: -36px -36px;
	}
}

.heart-pink-2 {
	background-position: -9px -78px;
	height: 26px;
	width: 26px;
}

.heart-pink {
	background-position: -36px -78px;
	height: 26px;
	width: 26px;
}

.twitter {
	background-position: -0px -106px;

	&:hover {
		background-position: -36px -106px;
	}
}
